*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: fill;
}
.menu{
    background-color: burlywood;
    max-width: 28rem;
    margin: 3rem auto;
    padding: 1rem;
}
.title, .est{
    text-align: center;
}
.title{
    margin: 2rem;
}
hr{
    border: 1px solid rgb(223,17,17);
    height: 3px;
    background-color: brown;
    margin: 1rem 0;
}
.icon-coffee{
    text-align: center;
}
.coffee,
.desserts,
.price{
    display: inline-block;
    margin: 0.4rem 0;
    font-size: 1rem;
}

.price{
    float: right;
    width: 25%;
}
.footer{
    text-align: center;
}
.Btn {
    width: 10em;
    height: 5ex;
    background-color: burlywood;
    border: 2px solid rgb(159, 12, 12);
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .Btn:hover {
    background-color: #fff;
  }
  
